@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');
/* 
#00010D - preto
#010A26 - azul escuro
#012840 - azul claro
#F2AC29 - dourado
#F2F2F2 - cinza




#07060D - preto
#080B14 - azul ultra escuro
#131326 - azul escuro
#212E40 - azul claro
#D99518 - dourado

*/



*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: url('../imagens/cursor/cursor.png'), auto !important;
}
body{
    background-image: radial-gradient(circle at 17% 29%, #454449 5%, #131326 44%, #000001 100%);
    /* background-image: linear-gradient(to left,#131326 50%,#080B14,#050024) */
}

/* LOGO */
img#logo{
    margin: 10px 5px;
}
/* H1 */
header > h1{
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.685);
}

/* MENU */
/* Criando o hamburger */
.hamburger{
    width: 32px;
    height: 32px;
    position: fixed;
    z-index: 5;
    right: 32px;
    top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.show-menu .hamburger{
    right: 36px;
}
.line{
    width: 100%;
    height: 2px;
    padding: 1px;
    border-radius: 10px;
    background-color: #D99518;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.719);
    transition: transform .7s;
}

/* Criando o X */
.show-menu #line1{
    transform: rotate(45deg) translate(6px, 14px);
    background-color: red;
    box-shadow: none;
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(5px, -14px);
    background-color: red;
    box-shadow: none;
}


/* Menu escondido */
.sidebar{
    background: linear-gradient(to top, #010A26 , transparent );
    width: 50vw;
    height: 33vh; /*AUMENTAR*/
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.767);
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all .4s;
}
.show-menu .sidebar{
    right: 0;
}

/* Menu interno */
.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
} 
.menu-item{
    margin: 6px;
}
.menu-item a{
    text-decoration: none;
}

/* SUBMENU */
.estcient{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}
.menu-item ul#estcient{
    display: none;
}
.menu-item:hover ul#estcient{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
}

.menu-item ul#estcient a{
    color: gray;
    transition: all .7s;
}
.menu-item ul#estcient a:hover{
    color: #ffa600;
}


.menu-link{
    color: lightgray;
    transition: color .7s;
}
.menu-link:hover{
    color: #F2AC29;
    background-color:#010A26;
    border-radius: 30px;
    transition: all .7s;
}


/* HOME - Foto e P */
main section#home{
   background: url('../imagens/background/JWST_Illustration.jpg') no-repeat center center;
   background-size: cover;
   background-attachment: fixed;
   height: 100vh;
   position: relative;
   z-index: -1;
   display: flex;
   align-items: flex-end;
   justify-content: center;
}
main section .legenda{
    color: #F2F2F2;
    margin-bottom: 20px;
}

/* Bloco de texto: GLOBAL */
main .texto{
    margin: auto;
    /* width: 91vw; */
    background-color: #f2f2f2be;
    padding: 10px;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.685); */
}
main section h2{    
    font-size: 1.5em;
    font-weight: 900;    
    text-align: center;
    margin:20px auto;
    color: #080B14;
}
main section h3{
    font-size: 1.2em;
    font-weight: 700;
    text-align: justify;
    color: #012840a9;
    margin-top: 10px;
}
main section p{
    text-align: justify;
    margin-top: 10px;
    text-indent: 15px;
}


/* PICTURE - FOTOS */
main section .imagem{
    margin-top: 20px;
   
}
main section picture{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main section figcaption{
    margin: 10px auto 20px;
    text-align: center;
    font-size: 0.8em;
}

main > section > p > span{
    font-style: italic;
}




/* IMAGEM CALIBRAÇÃO */

main .img-calibra{
    background-image: url('../imagens/background/imagem-calibracao1.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    z-index: -1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
main .img-campoprofundo{
    background-image: url('../imagens/background/Campo-profundo.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    z-index: -1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}







/* IFRAME */
section#sbmais{
    padding: 0;
}
section > div > iframe{
    width: 444px;
    height: 611px;
}